* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --background-color: #faefeb;
  --lightgreen-text: #7c8570;
  --lightgrey: #c6c6c6;
  --white-transparent: #ffffff3b;
}

body {
  background-color: var(--background-color);
}
/* NAVBAR STARTS */

.nav-bar {
  height: 80px;
  background: var(--background-color);
}

.brand {
  float: left;
  position: absolute;
  padding-left: 20px;
  line-height: 80px;
  font-size: 1.5em;
}

.brand a {
  text-decoration: none;
  color: white;
}

.nav-container {
  max-width: 1000px;
  margin: 10px auto 0 auto;
}

nav {
  float: right; /*se coloca si quiero que el menu baje el contenido */
}

.navicon {
  max-width: 120px;
  margin-top: 15px;
}
nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

/* links del nav */
nav ul li a {
  display: block;
  text-transform: uppercase;
  padding: 0 20px;
  line-height: 80px;
  background: var(--background-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  color: var(--lightgreen-text);
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.588);
  color: var(--lightgreen-text);
}

nav ul li a:not(:only-child):after {
  content: "▼";
  padding-left: 5px;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 80px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 15px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after {
  position: absolute;
  display: block;
  content: "";
  background: var(--lightgreen-text);
  height: 5px;
  width: 35px;
  transition: all 300ms ease-in-out;
}

#nav-toggle span::before {
  top: -10px;
}

#nav-toggle span::after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span::before,
#nav-toggle.active span::after {
  top: 0;
}

#nav-toggle.active span::before {
  transform: rotate(45deg);
}

#nav-toggle.active span::after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 80px 0 15px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
    padding-left: 25%;
  }

  nav ul li ul li a {
    padding-left: 30%;
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

/* NAVBAR ENDS */

/* HEADER STARTS */

.banner {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px auto;
}
.banner-title {
  margin: 20px;
  font-weight: 600;
  font-size: 2rem;
  color: var(--lightgreen-text);
}
.banner-subtitle {
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 200;
  font-style: italic;
  font-size: 1.8rem;
  color: var(--lightgreen-text);
}
.btn {
  max-width: 150px;
  border-radius: 10px;
  background-color: var(--white-transparent);
  color: var(--lightgreen-text);
  border: 2px solid var(--lightgreen-text);
  margin: 15px;
  padding: 10px 15px;
  font-size: 1.3rem;
  transition: 200ms;
}

.btn:hover {
  background-color: var(--lightgrey);
  scale: 98%;
  transition: 200ms;
  color: white;
}
/* HEADER ENDS */

/* CATALOG STARTS */

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  max-width: 450px;
  min-width: 250px;
  margin: 10px;
}

.catalogimg {
  object-fit: cover;
  min-width: 250px;
  width: 350px;
  height: 450px;
  margin: 0px;
  transition: all 0.3s;
}

.infocard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 40px;
    height: 20px;
    color: var(--lightgreen-text);
}
.infocard-item{
    padding: 5px 10px;
}